@model Registration


<h4><center>СМЕНА ПАРОЛЯ</center></h4>

@{
    ViewData["Title"] = "Admin Page - ChangePassword";
}

    <div class="container"> 
             <div class="row">

        <div class="col-2">
            @await Html.PartialAsync("AdminPanel")
        </div>

  <div class="col-sm-8">
      
  <form method="post" class="form-horizontal">

  <table class="table">
      <div class="container">
  <thead>

  <tr><h4>Пользователь @ViewBag.User.Email</h4></tr>

  </thead>
  <tbody>


<tr>
<th>
 <div class="validation" asp-validation-summary = "ModelOnly"></div>
 <div class="form-group help">
 <input asp-for="Password"  class="form-control" placeholder="Введите новый пароль"/>
 <span class="text-danger" asp-validation-for="Password"></span>
 <i class="fa fa-lock"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div>
</th>
</tr>

<tr>
<th>
 <div class="validation" asp-validation-summary = "ModelOnly"></div>
 <div class="form-group help">
 <input asp-for="ConfirmPassword"  class="form-control" placeholder="Введите новый пароль повторно"/>
 <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
 <i class="fa fa-lock"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div>

</th>
</tr>

<tr>
<th>
 <a class="btn btn-default" asp-area="admin" asp-controller="users" asp-action="info" asp-route-Id="@ViewBag.User.Id">Назад</a>
</th>
<td>
<button type="submit" asp-area="admin" asp-controller="users" asp-action="Changepassword"  class="btn btn-default">Сохранить</button> 
</td>

<td>
 <div class="dropdown">
  <button class="btn btn-default" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Действия
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" asp-area="admin" asp-controller="users" asp-action="changepassword" asp-route-id="@ViewBag.User.Id" >Сменить пароль</a></li>
    <li><a class="dropdown-item"asp-area="admin" asp-controller="users" asp-action="edit" asp-route-id="@ViewBag.User.Id" >Редактировать данные</a></li>
    <li><a class="dropdown-item" asp-area="admin" asp-controller="users" asp-action="changerole" asp-route-id="@ViewBag.User.Id">Изменить права доступа</a></li>
    <li><a class="dropdown-item" asp-area="admin" asp-controller="users" asp-action="delete" asp-route-id="@ViewBag.User.Id ">Удалить пользователя</a></li>
  </ul>
</div>

</td>
</tr>

        </tbody>
         
    </table>
    </form>

   </div>
        </div>
            </div>
               
                
